.navbar-pf-vertical {
    background-color:#9c0f0f ;
}

.login{
    background-color:#9c0f0f ;  
    color: #fff;
}

.inputmoney{
    text-align: right;
}
th{
    background-color: #9c0f0f;
    text-align: center;
    color: #fff;

}
.sorting_asc{
    background-color: #fff;
    text-align: center; 
    color: #002166;
}
 